/* CSS Stylesheet styles.css. 
Use the fonts: 'Great Vibes', cursive; 
'Raleway', sans-serif; 
'PT Sans Narrow', sans-serif; 
'Roboto Slab', serif; 
'Share Tech Mono', monospace; 
'Lato', sans-serif; */

.Top h2 {
    font-family: 'Great Vibes', cursive;
  }
  .Top p {
    font-family: 'Raleway', sans-serif;
  }
  .Top p span {
    font-weight: 800;
  }
  .Middle h2 {
    font-family: 'PT Sans Narrow', sans-serif;
  }
  .Middle p {
    font-family: 'Roboto Slab', serif;
  }
  .Middle p span {
    font-weight: 800;
  }
  .Bottom h2 {
    font-family: 'Share Tech Mono', monospace;
  }
  .Bottom p {
    font-family: 'Lato', sans-serif;
  }
  .Bottom p span {
    font-weight: 800;
  }